---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";
import Youtube from "../../icons/Youtube.astro";
import X from "../../icons/X.astro";
import Instagram from "../../icons/Instagram.astro";
import Tiktok from "../../icons/Tiktok.astro";
import TikTok from "../../icons/TikTok.astro";



import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import Tooltip from "../Tooltip.astro";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white dark:text-white bg-sky-500 hover:bg-sky-400 w-auto group"
      href={translatePath("/")}
      target="_self"
    >
      Resume
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <Tooltip tooltip="Portfolio">
      <SocialPill
        href="https://itsteddydev.vercel.app/"
        class=""
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>

    </Tooltip>
  <Tooltip tooltip="X">
  <SocialPill
    href="https://x.com/balkaproduct?s=21"
    target="_blank"
  >
    <X class="size-4" />
  </SocialPill>
</Tooltip>

    <Tooltip tooltip="YouTube">
  <SocialPill
    href="https://www.youtube.com/@BalkaProduction"
    class=""
    target="_blank"
  >
    <Youtube class="size-4" />
  </SocialPill>
</Tooltip>

    <Tooltip tooltip="Instagram">
  <SocialPill
    href="https://www.instagram.com/balka.prod?igsh=MWlvZ3Z1dTlwdmx4bw%3D%3D&utm_source=qr"
    target="_blank"
  >
    <Instagram class="size-4" />
  </SocialPill>
</Tooltip>

<Tooltip tooltip="TikTok">
  <SocialPill
    href="https://www.tiktok.com/@balkaprod?_t=ZN-8x2SXSAtar8&_r=1"
    target="_blank"
  >
    <Tiktok class="size-4" />
  </SocialPill>
</Tooltip>

  </div>
</aside>
